header{
    background-color: #223543;
    text-align: center;
    height: 100px;
}

header h1{
    height: 100%;
    color: white;
    padding: 25px 25px;
}

body{
    background-image: url('../img/physicalfit13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body form{
    margin-top: 5px;
}

#nome{
    border-radius: 30px;
    height: 35px;
    width: 547px;
    margin-left: 2%;
    border-width: 0;
    margin-top: 35px;
}

#voltar{
    text-align: end;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}

#select-avaliacao{
    border-radius: 30px;
    height: 35px;
    width: 265px;
    margin-left: 2%;
    border-width: 0;
}

#select-avaliacao2{
    border-radius: 30px;
    height: 35px;
    width: 265px;
    margin-left: 1%;
    border-width: 0;
}

#back{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-bottom: 3%;
    margin-top: 20px;
}

#left{
    margin-top: 2%;
    margin-left: 1%;
    padding-bottom: 9%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
}

#mid{
    margin-top: 2%;
    margin-left: 1%;
    padding-bottom: 9%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
}

#right{
    margin-top: 2%;
    margin-left: 1%;
    padding-bottom: 9%;
    border-radius: 10%;
    background-color: white;
    text-align: center;
}

#compleft{
    border-radius: 30px;
    height: 35px;
    width: 125px;
    margin-top: 3%;
    border-width: 0;
    background-color: gray;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#compmid{
    border-radius: 30px;
    height: 35px;
    width: 125px;
    margin-top: 3%;
    border-width: 0;
    background-color: gray;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#compright{
    border-radius: 30px;
    height: 35px;
    width: 125px;
    margin-top: 3%;
    border-width: 0;
    background-color: gray;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#comparar {
    border-radius: 30px;
    height: 38px;
    width: 125px;
    margin-left: 1.5%;
    margin-bottom: 3px;
}

::-webkit-input-placeholder {
    color: white;
}